.wp-block-simple-events-manager-event-location {
	--icon-size: 1.125em;
	--gap: 0.25em;

	align-items: center;
	display: inline-flex;
	gap: var(--gap);

	&::before {
		background-color: var(--icon-color, currentcolor);
		content: "";
		height: var(--icon-size);
		mask-image: url("../../../assets/svg/location.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		width: var(--icon-size);
	}
}
